<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Census</title>
	</head>
	<body>
		<div id="spinner"></div>
		<div class="main-frame" id="censusApp">
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" v-on:click.stop="goToDashboard">Census</a>
					</div>
					<ul class="nav navbar-nav">
						<li v-bind:class="{ active: inDashboard }"><a href="#" v-on:click.stop="goToDashboard">Dashboard</a></li>
						<li v-bind:class="{ active: inSourceip }"><a href="#" v-on:click.stop="goToSourceip">Source ips</a></li>
						<li v-bind:class="{ active: inSchedule }"><a href="#" v-on:click.stop="goToSchedule">Schedule</a></li>
						<li v-bind:class="{ active: inAbout }"><a href="#" v-on:click.stop="goToAbout">About</a></li>
					</ul>
				</div>
			</nav>
			<div class="container-fluid">
				<div class="alert alert-danger" role="alert" v-if="hasAlerts">
					<button v-on:click="clearAlerts" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div v-for="a in alerts">
						<strong>{{a.title}}</strong>
						<p v-if="a.service">
							<span>Service: {{a.method}} {{a.url}}</span>
							<br/>
							<span>Status: {{a.status}}</span>
						</p>
						<p>{{a.message}}</p>
					</div>
				</div>
				<census-dashboard v-if="inDashboard" v-bind:subjects="subjects" v-on:error="onError"></census-dashboard>
				<census-sourceip v-if="inSourceip" v-bind:subjects="subjects" v-on:error="onError"></census-sourceip>
				<census-schedule v-if="inSchedule" v-bind:subjects="subjects" v-on:error="onError"></census-schedule>
				<census-about v-if="inAbout"></census-about>
			</div>
		</div>
		<script src="bundle.js" crossorigin="anonymous"></script>
	</body>
</html>
